<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="">
<head>
  <title>Welcome to VetApp!</title>
</head>
<body>
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<h1 th:inline="text">Welcome to VetApp!</h1>

<p>Click <a th:href="@{/accomodations}">here</a> to see avaliable accomodations where pets are accepted.</p>
<p>Click <a th:href="@{/cateringPlaces}">here</a> to see avaliable catering places where pets are accepted.</p>
<p>Click <a th:href="@{/veterinaryClinics}">here</a> to see avaliable veterinary clinics where you can go with your pets for help.</p>

<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
</body>
</html>